.hover-card{
    overflow:hidden;
    transition:0.35s ease;
}

.preview{
    max-height:0;
    opacity:0;
    overflow:hidden;
    transition:0.45s ease;
    margin:0;
}

.preview img{
    width:100%;
    border-radius:10px;
    display:block;
}

.hover-card:hover{
    transform:translateY(-6px);
}

.hover-card:hover .preview{
    max-height:220px;
    opacity:1;
    margin:15px 0;
}
