*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f8f4ff;
    color:#333;
    line-height:1.6;
}

header{
    background:linear-gradient(135deg,#d9c2ff,#ffc8e8);
    text-align:center;
    padding:70px 20px;
}

header h1{
    font-size:3rem;
}

nav{
    display:flex;
    justify-content:center;
    gap:30px;
    background:white;
    padding:15px;
    position:sticky;
    top:0;
}

nav a{
    text-decoration:none;
    color:#6b4fb3;
    font-weight:bold;
}

.card{
    background:white;
    width:min(900px,90%);
    margin:35px auto;
    padding:30px;
    border-radius:18px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.project{
    padding:18px;
    margin-top:15px;
    border-left:5px solid #d39af5;
    background:#faf7ff;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:35px;
    color:#777;
}
